/* Slideshow */


.login_slideshow_container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

 /* Bordered form */
form {
    border: 12px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 3px solid #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.create_acct_button {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
}

img.wallpaper {
    width: 40%;
    border-radius: 50%;
}

.input_container {
    padding: 20px;
    text-align: center;
}

.fancy_text {
  font: 300 50px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

.fancy_text_small {
  font: 300 35px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

input.fancy {
  font: 100 25px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

input.create_account {
  background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 4px 0;
    cursor: pointer;
    width: 30%;
}