/* Slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow_container {
  max-width: 800px;
  max-height: 475px;
  position: relative;
  margin: auto;
}

.slides {
    display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.9s;
  animation-name: fade;
  animation-duration: 5.9s;
}

@-webkit-keyframes fade {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}



@keyframes fade {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    max-width: 800px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 3px solid #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.create_acct_button {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
}

img.wallpaper {
    width: 100%;
    border-radius: 15%;
}

.input_container {
    text-align: center;
}

.title {
  font: 200 50px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
  text-align: center;
}

.slogan {
  font: 100 40px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #494949;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
  text-align: center;
  position: relative;
  top: -70px;
}

.forms {
  position: relative;
  top: -100px;
}

button {
    max-width: 800px;
}

.fancy_text {
  font: 300 40px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

.fancy_text_small {
  font: 300 30px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

input.fancy {
  font: 100 25px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

input.create_account {
  background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 4px 0;
    cursor: pointer;
    width: 30%;
}
