<html>
  <head>
    <script src = "http://code.jquery.com/jquery-latest.min.js"></script>
    <script src = "/eventSystem/add_qns_script"></script>
    <title>Event | {{ event_name }} | eventSystem</title>
    <h1>Event Name: {{ event_name }}</h1>
    <h3>Date & Time: {{ event_date }} from {{ event_start }} to {{ event_end }}</h3>
  </head>
<body>
  {% if has_questions %}
    <p>Current Questions:</p>
    <ul>
    {% for question in questions %}
      <li>{{ question.qn_text }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>This event has no questions so far. Go ahead and create the first ones!</p>
  {% endif %}

  <p><a href="{% url 'modify_questions' event_name %}">Modify Existing Questions</a></p>

  <p><a href="{% url 'event_home' event_name %}">Back to {{ event_name }}</a></p>
</body>

</html>
