<html>
<title>Events Unlimited | Create Event</title>

<body>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static "events/css/events.css" %}"> {% load static %}
  <script src="{% static "events/js/validateTime.js" %}" type="text/javascript"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function () {
      $("#datepicker").datepicker();
    });
  </script>
</body>
<p class="title">* Create an Event *</p>
<p class="title_small"><i>for</i></p>
<p class="title_mid">{{ username }}</p>
<hr>

<!-- Required forms -->
<form method="post" name="input_form" onsubmit="return validateTime()">
  {% csrf_token %}
  <!-- Login forms -->
  <div class="input_container">
    <div id="wrap">
      <div id="left_col">
        <div class="fancy_text">
          <label><b>Event Name</b></label>
        </div>
        <input type="text" placeholder="Event Name" name="eventname" class="fancy" required>
        <div class="fancy_text">
          <div class="fancy_text">
            <label><b>Event Date</b></label>
          </div>
          <input type="text" id="datepicker" name="date" class="fancy" placeholder="MM/DD/YYYY" required>
          <div class="fancy_text">
            <label><b>Event Start Time</b></label>
          </div>
          <input type="text" placeholder="HH:MM AM/PM" name="starttime" class="fancy" required>
          <div class="fancy_text">
            <label><b>Event End Time</b></label>
          </div>
          <input type="text" placeholder="HH:MM AM/PM" name="endtime" class="fancy" required>
        </div>
      </div>
      <div id="right_col">
        <div class="fancy_text">
          <label><b>Event Owners</b></label>
        </div>
        <div class="scroll_check_box_owners fancy_text_list">
          {% for entry in form.owners %} 
            {{ entry }}<br> 
          {% endfor %}
        </div>
        <div class="fancy_text">
          <label><b>Event Vendors</b></label>
        </div>
        <div class="scroll_check_box_vendors fancy_text_list">
          {% for entry in form.vendors %} 
            {{ entry }}<br> 
          {% endfor %}
        </div>
      </div>
    </div>
    <p style="color: white">a</p>
    <hr>
    <div class="fancy_text">
      <label><b>Event Guests</b></label>
    </div>
    <div class="scroll_check_box_guests fancy_text_list">
      {% for entry in form.guests %} 
          {{ entry }}<br>
      {% endfor %}
    </div>
    <button type="Submit" class="fancy_text_small">Submit</button>
  </div>
</form>

</html>

<!--<html>
  <head>
    <title>Create Event | eventSystem</title>
    <h1>New Event for {{ username }}</h1>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <div>
	{{ field.name }}{{ field }}
      </div>
      {% endfor %}
      <button type="Submit">Create!</button>
    </form>
    {% if messages %}
    <div style="color:red">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
	{{ message|safe }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </body>
</html>-->