<html>

<head>
  <title>Events Unlimited | Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static " login/css/login.css " %}">
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'> {% load static %}
</head>

<body>
  <!-- Slideshow -->
  <div class="login_slideshow_container">
    {% load static %}
    <img src="{% static " login/slideshow/login_wallpaper_1.jpeg " %}" alt="Wedding Event" class="wallpaper"> 
    {% load static %}
    <img src="{% static " login/slideshow/login_wallpaper_2.jpeg " %}" alt="Wedding Event" class="wallpaper"> 
    {% load static %}
    <img src="{% static " login/slideshow/login_wallpaper_3.jpeg " %}" alt="Wedding Event" class="wallpaper">
    {% load static %}
    <img src="{% static " login/slideshow/login_wallpaper_4.jpeg " %}" alt="Wedding Event" class="wallpaper">
  </div>
  <br>

  <form method="post">
    {% csrf_token %}
    <!-- Login forms -->
    <div class="input_container">
      <div class="fancy_text">
        <label><b>Username</b></label>
      </div>
      <input type="text" placeholder="Enter Username" name="username" class="fancy">
      <div class="fancy_text">
        <label><b>Password</b></label>
      </div>
      <input type="password" placeholder="Enter Password" name="password" class="fancy">

      <button type="Submit" class="fancy_text_small">Login</button>
    </div>

    <div class="input_container">
      <form action="/eventSystem/register">
        <input type="submit" value="Need an Account?" class="fancy create_account" />
      </form>
    </div>

  </form>

  <script type="text/javascript">
    var slideIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("wallpaper");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > x.length) {
        slideIndex = 1
      }
      x[slideIndex - 1].style.display = "block";
      setTimeout(carousel, 2000); // Change image every 2 seconds
    }
  </script>

</body>

</html>