<html>

<head>
  <title>Events Unlimited | Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "login/css/login.css" %}">
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  {% load static %}
  <script type="text/javascript" src="{% static "login/js/slideshow.js" %}"></script>
</head>

<body>
  <!-- Slideshow -->
  <div class="login_slideshow_container">
    <div class="slides slide_fade">
      {% load static %}
      <img src="{% static "login/slideshow/login_wallpaper_1.jpeg" %}" alt="Wedding Event" class="wallpaper">
    </div>
    <div class="slides slide_fade">
      {% load static %}
      <img src="{% static "login/slideshow/login_wallpaper_2.jpeg" %}" alt="Wedding Event" class="wallpaper">
    </div>
    <div class="slides slide_fade">
      {% load static %}
      <img src="{% static "login/slideshow/login_wallpaper_3.jpeg" %}" alt="Wedding Event" class="wallpaper">
    </div>
    <div class="slides slide_fade">
      {% load static %}
      <img src="{% static "login/slideshow/login_wallpaper_4.jpeg" %}" alt="Wedding Event" class="wallpaper">
    </div>
    <a class="prev_arrow" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next_arrow" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div>

  <form method="post">
    {% csrf_token %}
    <!-- Login forms -->
    <div class="input_container">
      <div class="fancy_text">
        <label><b>Username</b></label>
      </div>
      <input type="text" placeholder="Enter Username" name="username" class="fancy">
      <div class="fancy_text">
        <label><b>Password</b></label>
      </div>
      <input type="password" placeholder="Enter Password" name="password" class="fancy">

      <button type="Submit" class="fancy_text_small">Login</button>
    </div>

    <div class="input_container">
    <form action="/eventSystem/register">
      <input type="submit" value="Need an Account?" class="fancy create_account"/>
    </form>
    </div>

  </form>
</body>

</html>