<html>
  <head>
    <script src = "http://code.jquery.com/jquery-latest.min.js"></script>
    <script src = "/eventSystem/modify_qns_script"></script>
    <title>Event | {{ event_name }} | eventSystem</title>
    <h1>Event Name: {{ event_name }}</h1>
    <h3>Date & Time: {{ event_date }} from {{ event_start }} to {{ event_end }}</h3>
  </head>
  <body>
    {% if questions %}
      <p>Current Questions:</p>
    {% endif %}
      <form method="post">
	{% csrf_token %}
	{{ formset_management }}
	{% for qn_form, choice_formset in formset %}
	<div>
	  <div>{{ qn_form }}</div>
	      {% if choice_formset %}
	        {{ choice_formset.management_form }}
	      {% endif %}
	      {% for choice_form in choice_formset %}
	        <div>{{ choice_form }}</div>
	      {% empty %}
	      {% endfor %}
	</div>
	{% empty %}
	<p>No questions to modify</p>
	{% endfor %}
	<button type="submit">Submit Modifications</button>
      </form>
    <p><a href="{% url 'add_questions' event_name %}">Add New Questions</a></p>
    <p><a href="{% url 'event_home' event_name %}">Back to {{ event_name }}</a></p>
  </body>
</html>
