<html>

<head>
  <title>Events Unlimited | Register</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "registration/css/registration.css" %}">
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="title">
    <h1>Realize your <i>Dream Event</i> Today!</h1>
  </div>
  <img src="{% static "registration/images/registration_1.jpeg" %}" alt="Wedding Event" class="wallpaper">
  <form method="post">
    {% csrf_token %}
    <!-- Login forms -->
    <div class="input_container">
      <div class="fancy_text">
        <label><b>Username</b></label>
      </div>
      <input type="text" placeholder="Enter Desired Username" name="username" class="fancy" required>
      <div class="fancy_text">
        <div class="fancy_text">
          <label><b>Email</b></label>
        </div>
        <input type="email" placeholder="Enter Your Email" name="email" class="fancy" required>
        <div class="fancy_text">
          <label><b>Password</b></label>
        </div>
        <input type="password" placeholder="Enter Password" name="password" class="fancy" required>
        <button type="Submit" class="fancy_text_small">Submit</button>
      </div>
  </form>
  {% if messages %}
  <div style="color:red">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message|safe }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="slogan">
    <p>Already have an account?</p>
  </div>
  <div class="input_container">
    <form action="/eventSystem/login/">
      <input type="submit" value="Login" class="fancy create_account" />
    </form>
  </div>
</body>

</html>