<html>
  <head>
    <title>Event | {{ event_name }} | eventSystem</title>
    <h1>Event Name: {{ event_name }}</h1>
    <h3>Date & Time: {{ event_date }} from {{ event_start }} to {{ event_end }}</h3>
  </head>
  <body>
      <form method="post">
	{% csrf_token %}
	{{ open_formset_management }}
	{{ choice_formset_management }}
	{% for qn, openresponse_form, choiceresponse_form in formset %}
	<div>
	  <div> {{ qn.qn_text }}</div>
	  {% if choiceresponse_form %}
	    <div>{{ choiceresponse_form }}</div>
	  {% else %}
	    <div>{{ openresponse_form }}</div>
	  {% endif %} 
	</div>
	{% empty %}
	<p>No questions to answer</p>
	{% endfor %}
	<button type="submit">Submit Modifications</button>
      </form>
    <p><a href="{% url 'user_home' user_name %}">Back to home</a></p>
  </body>
</html>
