<html>
  <head>
    <title>Event | {{ event_name }} | eventSystem</title>
    <h1>Event Name: {{ event_name }}</h1>
    <h3>Date & Time: {{ event_date }} from {{ event_start }} to {{ event_end }}</h3>
  </head>
  <body>
      <form method="post">
	{% csrf_token %}
	{{ open_formset_management }}
	{{ choice_formset_management }}
	{% for qn, openresponse_form, choiceresponse_form in formset %}
	<div>
	  <div> {{ qn.qn_text }}</div>
	  {% if choiceresponse_form %}
	    <div>{{ choiceresponse_form }}</div>
	  {% else %}
	    <div>{{ openresponse_form }}</div>
	  {% endif %} 
	</div>
	{% empty %}
	<p>No questions to answer</p>
	{% endfor %}
	<button type="submit">Submit Modifications</button>
      </form>
      {% if messages %}
      {% for message in messages %}
      <p style='color:red;'>{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% if finalized_qns %}
      <div id="finalized_questions">
	<p style='color:blue;'>The following questions have been finalized and can no longer be edited</p>
	{% for finalized_qn, finalized_openresponse, finalized_choiceresponse in finalized_qns %}
	<div>
	  <div>{{ finalized_qn.qn_text }}</div>
	  {% if finalized_choiceresponse %}
	  <div>{{ finalized_choiceresponse }}</div>
	  {% else %}
	  <div>{{ finalized_openresponse }}</div>
	  {% endif %}
	</div>
	{% endfor %}
      </div>
      {% endif %}
      {% if show_plus_one_link %}
      <p>Add/Edit answers for a <a href="{% url 'rsvp_event' eventname=event.pk plus_one=1 %}">plus-one</a></p>
      {% endif %}
    <p><a href="{% url 'user_home' user_name %}">Back to home</a></p>
  </body>
</html>
