<html>

<head>
  <title>Events Unlimited | {{ user.username }}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "user_home/css/user_home.css" %}"> {% load static %}
  <link rel="stylesheet" href="{% static "user_home/css/accordion.css" %}">
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <div class="title">
    <h1>{{ user.username }} ({{ user.email }})</h1>
  </div>
  <div id="accordion" style="text-align: center">
    {% if owns_events %}
    <h3 class="fancy_text_accordion">Events Owned by {{ noun }}</h3>
    <div>
      <hr> {% for event in owned_events %}
      <a href="{% url 'event_home' event.eventname %}">
        <label class="event">{{ event.eventname }}</label></a><br>
      <label class="fancy_text">When:</label><br>
      <label class="fancy_text_small"><i>{{ event.date }}</i></label><br>
      <label class="fancy_text">Time:</label><br>
      <label class="fancy_text_small"><i>{{ event.start_time}} - {{ event.end_time }}</i></label><br>
      <hr> {% endfor %}
    </div>
    {% else %}
    <h3 class="fancy_text_accordion">No events currently owned by {{ noun }}</h3>
    <div></div>
    {% endif %} {% if has_vendor_events %}
    <h3 class="fancy_text_accordion">Vendor for:</h3>
    <div>
      <hr> {% for event in vendor_events %}
      <a href="{% url 'event_home' event.eventname %}">
        <label class="event">{{ event.eventname }}</label></a><br>
      <label class="fancy_text">When:</label><br>
      <label class="fancy_text_small"><i>{{ event.date }}</i></label><br>
      <label class="fancy_text">Time:</label><br>
      <label class="fancy_text_small"><i>{{ event.start_time}} - {{ event.end_time }}</i></label><br>
      <hr> {% endfor %}
    </div>
    {% else %}
    <h3 class="fancy_text_accordion">Not a vendor for any events</h3>
    <div></div>
    {% endif %} {% if has_guest_events %}
    <h3 class="fancy_text_accordion">Guest for:</h3>
    <div>
      <hr> {% for event in guest_events %}
      <a href="{% url 'event_home' event.eventname %}">
        <label class="event">{{ event.eventname }}</label></a><br>
      <label class="fancy_text">When:</label><br>
      <label class="fancy_text_small"><i>{{ event.date }}</i></label><br>
      <label class="fancy_text">Time:</label><br>
      <label class="fancy_text_small"><i>{{ event.start_time}} - {{ event.end_time }}</i></label><br>
      <hr> {% endfor %}
    </div>
    {% else %}
    <h3 class="fancy_text_accordion">Not a guest for any events</h3>
    <div></div>
    {% endif %}
  </div>
  {% if noun == "You" %}
  <div class="input_container">
    <form action="{% url 'create_event' user.username %}">
      <input type="submit" value="Create an Event" class="fancy create_event" />
    </form>
    <form action="{%url 'user_logout' %}">
      <input type="submit" value="Logout" class="fancy logout" />
    </form>
  </div>
  {% endif %}

  <script>
    $("#accordion").accordion();
  </script>

</body>

</html>