<html>
  <head>
    <title>{{ user.username }} | eventSystem</title>
    <h1>Username: {{ user.username }}</h1>
    <h3>Email: {{ user.email }}</h3>
  </head>
  
<body>
{% if owns_events %}
<p>Events owned by {{ noun }}:</p>
<ul>
  {% for event in owned_events %}
  <li><a href="{% url 'event_home' event.eventname %}">{{ event.eventname }}</a> at {{ event.date_time }}</li>
  {% endfor %}
</ul>

{% else %}
<p>No events currently owned by {{ noun }}</p>

{% endif %}

{% if has_vendor_events %}
  <p>Vendor for:</p>
  <ul>
    {% for event in vendor_events %}
      <li><a href="{% url 'event_home' event.eventname %}">{{ event.eventname }}</a> at {{ event.date_time }}</li>
    {% endfor %}
  </ul>
{% else %}
<p>Not a vendor for any events</p>
{% endif %}

{% if has_guest_events %}
<p>Guest for:</p>
<ul>
  {% for event in guest_events %}
  <li><a href="{% url 'event_home' event.eventname %}">{{ event.eventname }}</a> at {{ event.date_time }}</li>
  {% endfor %}
</ul>
{% else %}
<p>Not a guest for any events</p>
{% endif %}

{% if noun == "You" %}
  <p><a href="{% url 'create_event' user.username %}">Create an event</a></p>
  <p><a href="{%url 'user_logout' %}">Logout</a></p>
{% endif %}
</body>
</html>
