<html>
  <head style='margin:auto; width:50%; text-align:center;'>
    <title>Event | {{ event_name }} | eventSystem</title>
    <h1>Event Name: {{ event_name }}</h1>
    <h3>Date & Time: {{ event_date }} from {{ event_start }} to {{ event_end }}</h3>
  </head>
  <body>
{% if has_questions %}
  <p>Questions:</p>
  <ul>
  {% for question, choices, vendors in questions %}
  <li>{{ question.qn_text }}</li>
    <ul>
      {% for choice in choices %}
        <li>{{ choice }}</li>
      {% endfor %}
    </ul>
    <p>Vendors permitted to view response:</p>
    <ul>
    {% for vendor in vendors %}
      <li><a href="{% url 'user_home' vendor %}">{{ vendor }}</a></li>
      {% empty %}
      <p>None</p>
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
{% else %}
  <p>This event has no questions yet.</p>
{% endif %}  
  
<p><a href="{% url 'add_questions' event.pk %}">Add Questions</a></p>
  
<p><a href="{% url 'modify_questions' event.pk %}">Modify Questions</a></p>

<p><a href="{% url 'user_home' user_name %}">Back Home</a></p>

</body>
</html>
