/*http://stackoverflow.com/questions/2756751/jquery-ui-accordion-css*/

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #999999/*{borderColorHover}*/
    ;
    background: #dadada/*{bgColorHover}*/
    url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/
    50%/*{bgHoverXPos}*/
    50%/*{bgHoverYPos}*/
    repeat-x/*{bgHoverRepeat}*/
    ;
    font-weight: normal/*{fwDefault}*/
    ;
    color: #212121/*{fcHover}*/
    ;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
    color: #212121/*{fcHover}*/
    ;
    text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa/*{borderColorActive}*/
    ;
    background: #4CAF50/*{bgColorActive}*/
    url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/
    50%/*{bgActiveXPos}*/
    50%/*{bgActiveYPos}*/
    repeat-x/*{bgActiveRepeat}*/
    ;
    font-weight: normal/*{fwDefault}*/
    ;
    color: #212121/*{fcActive}*/
    ;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #212121/*{fcActive}*/
    ;
    text-decoration: none;
}

.ui-accordion .ui-accordion-header {
    max-width: 800px;
    margin: auto;
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    padding: .5em .5em .5em .7em;
    min-height: 0;
    /* support: IE7 */
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.ui-accordion .ui-accordion-header :hover {
    background-color: #f7f7f7;
}

.ui-accordion-header-collapsed {
    background: #a8f79b;
}


.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
    padding: 2em 1.2em;
    border-top: 0;
    overflow: auto;
}