/* Full-width inputs */

input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  max-width: 800px;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 3px solid #ccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
}

img.wallpaper {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 70%;
  max-width: 800px;
}

.input_container {
  text-align: center;
}

.title {
  font: 200 70px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.title_mid {
  position: relative;
  font: 200 55px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.title_small {
  position: relative;
  font: 200 30px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.slogan {
  font: 100 30px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #494949;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  position: relative;
}

button {
  max-width: 800px;
}

.fancy_text {
  font: 300 30px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.fancy_text_small {
  font: 300 40px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.fancy_text_list {
  font: 200 25px/1.0 'Lobster Two', Helvetica, sans-serif;
  color: #494949;
  /*text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);*/
}

input.fancy {
  font: 300 25px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.alert {
  font: 300 25px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: red;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
}

#wrap {
  width: 800px;
  margin: auto;
}

#left_col {
  float: left;
  width: 400px;
}

#right_col {
  float: right;
  width: 400px;
}

#left_col_guest {
  float: left;
  width: 300px;
}

#right_col_guest {
  float: right;
  width: 300px;
}

.scroll_check_box_owners {
  border: 3px solid #ccc;
  width: 300px;
  height: 150px;
  overflow-y: scroll;
  text-align: left;
  margin: auto;
}

.scroll_check_box_vendors {
  border: 3px solid #ccc;
  width: 300px;
  height: 250px;
  overflow-y: scroll;
  text-align: left;
  margin: auto;
}

.scroll_check_box_guests {
  border: 3px solid #ccc;
  width: 600px;
  height: 300px;
  overflow-y: scroll;
  text-align: left;
  margin: auto;
}

